<footer id="footer" style="padding:1%; background-color: #42474F;">
          <section>
            <h3 style="color: white; text-align: center">CONTACTO</h3>
        
            <form class="form" action="validar html" method="POST" style="text-align: center;">
                <div>
                    <label for="nombreapellido"></label>
                    <input type="text" name="name" id="nombreapellido" placeholder="NOMBRE Y APELLIDO" style="width: 40%; text-align: center;">
                </div>          
                <div>
                  <label for="email"></label>
                  <input type="email" name="email" id="email" placeholder="EMAIL" style="width: 40%; text-align: center;">
                </div>
              
                <div>
                    <textarea name="comentarios"
                    placeholder="COMENTARIOS ¿Tienes alguna duda? ¿Que tragos te gustaria ver en la carta?" id="" cols="30"
                    rows="10" style="width: 40%;"></textarea>
                </div>
                <button type="submit" class="btn btn-primary full" id="submit_contact">ENVIAR</button>
            </form>

          </section>
        <section >
            <section style="background-color: black; color: white; padding: 1%;
            text-align: center;">
              <div><h3>¡Hacete regular de nuestra barra virtual!</h3>
              <a href="../users/registro"><button type="submit" style="width: 10%;height:5vh; margin:1%; padding: 1%; background-color:#3e4854; color: white;">Registrarse</button></a>
              </div> 
              <div class="titulos">HORARIOS DE ATENCION</div>
              <div class="titulos">De Lunes a Viernes de 9 a 20 Hs.</div>
            </section>
          
            <section style="display: flex; font-size: 50px; justify-content: center;">
              <div>
                <a href=" https://web.whatsapp.com/rustynailcocktails" target="_blank" id="track_whatsapp">
                  <i class="fab fa-whatsapp-square social-icon"></i></a>
              </div>

              <div class="logo">
                <a href="https://es-la.fa-facebook.com/rustynailcocktails" target="_blank" id="track_facebook"> <i class="fab fa-facebook social-icon hover-lit"></i></a>
              </div>
              <div class="logo">
                <a href="https://instagram.com/rustynailcocktails" target="_blank" id="track_instagram">
                  <i class="fab fa-instagram social-icon hover-lit"></i></a>
              </div>
              <div class="logo">
                <a href=https://twitter.com/?lang=es" target="_blank" id="track_twitter">
                  <i class="fab fa-twitter social-icon hover-lit"></i></a>
              </div>
          </section>
        </section>
      </div>
</footer>
