<footer id="footer" style="background-color: #42474F;">
        <section>
            <section style="background-color: black; color: white; padding: 1%;
            text-align: center;">
              <div><h3>¡Hacete regular de nuestra barra virtual!</h3>
          
              <a href="/users/registro"><button type="submit" id="registrarse-btn">Registrarse</button></a>
              </div> 
              <div class="titulos">HORARIOS DE ATENCION</div>
              <p>11-4030-3456 </p>  
              <div class="titulos">De Lunes a Viernes de 9 a 20 Hs.</div>

            </section>
          
            <section style="display: flex; font-size: 50px; justify-content: center;">
              <div>
                <a href="https://api.whatsapp.com/send?phone=1140303456">
                  <i class="fab fa-whatsapp-square social-icon"></i></a>
                  <a name="#contactate-wpp" style="display: none;"></a>
              </div>

              <div class="logo">
                <a href="https://es-la.fa-facebook.com/rustynailcocktails" target="_blank" id="track_facebook"> <i class="fab fa-facebook social-icon hover-lit"></i></a>
              </div>
              <div class="logo">
                <a href="https://instagram.com/rustynailcocktails" target="_blank" id="track_instagram">
                  <i class="fab fa-instagram social-icon hover-lit"></i></a>
              </div>
              <div class="logo">
                <a href="https://twitter.com/?lang=es" target="_blank" id="track_twitter">
                  <i class="fab fa-twitter social-icon hover-lit"></i></a>
              </div>
          </section>
        </section>
      </div>


      

</div>
</div>

</footer>

