<header id="desk-nav">
    <div class="h-boxes-container">
        <div class="header-box">
            <div class="black-stripe">¿Todavía no sos regular?</div>
            <nav class="grey-box">
                <div class="gb-menu-1">
                    <div>
                        <i class="fab fa-whatsapp-square social-icon"></i>
                        <span class="white-text-nav">11-4030-3456</span>
                    </div>
                    <div class="social-networks">
                        <i class="fab fa-twitter social-icon hover-lit"></i>
                        <i class="fab fa-facebook social-icon hover-lit"></i>
                        <i class="fab fa-instagram social-icon hover-lit"></i>
                    </div>
                </div>
                <div class="gb-menu-2">
                    <div class="nav-link">
                        <a style="text-decoration: none;" href="/menu"><i class="fas fa-glass-martini-alt nav-icon"></i></a>
                        <span class="white-text-nav">Nuestra carta</span>
                    </div>
                    <div class="nav-link">
                        <i class="fas fa-glass-cheers nav-icon"></i>
                        <a href="/questions/historia" style="text-decoration: none;"><span>Nuestra historia</span></a>
                    </div>
                </div>   
            </nav>
        </div>
        <div class="central-box">
            <div class="logo-img">
                <img src="/images/dark-martini-glass-logo.jpeg" alt="Rusty Nail Logo" class="logo-image" style="
                width: 100%;
                height: 34vh;
            ">
            </div>
        </div>
        <div class="header-box">
            <div class="black-stripe">Sumate y conseguí todos estos beneficios</div>
            <nav class="grey-box">
                <div class="gb-menu-1">
                    <div class="regular-customer">
                        <a style="text-decoration: none;" href="/users/login"><i class="fas fa-user right-icons user-icon" style="color: black;"></i></a> 
                        <% if (loggedIn == false) {%> 
                        <a style="text-decoration: none;" href="/users/login"><span class="white-text-nav">Soy regular</span></a>
                        <% } else { %>
                        <a style="text-decoration: none;" href="/users/<%=userId%>"><span class="white-text-nav"> Tu perfil </span></a>
                        <% } %> 
                    </div>
                    <div class="cart-icons" id="cart-cont">
                        <a style="text-decoration: none;" href="/cart" id="cart-icon">
                        <i class="fa fa-shopping-cart cart" style="    color: black; align-self: flex-end;display: flex;align-self: center;justify-self: center;width: 60%;"></i>
                        <p style="margin: 0; font-size: 0.7em;">Carrito</p>
                        </a>
                        
                    </div>
                </div>
                <div class="gb-menu-2">
                    <div class="nav-link">
                        <i class="fas fa-wine-glass-alt nav-icon"></i>
                        <a href="/questions/howto" style="text-decoration: none;">
                        <span>¿Cómo comprar?</span>
                    </a>
                    </div>
                    <div class="nav-link">
                        <i class="fas fa-glass-whiskey nav-icon"></i>
                        <a style="text-decoration: none;" href="https://api.whatsapp.com/send?phone=1140303456"><span>Contactate</span></a>
                    </div>
                </div>   
            </nav>
        </div>
    </div>
    <div class="second-container">
        <div class="invisible-box"></div>
        <div class="bartender-button">
            <a style="text-decoration: none;" href="/bartender" id="llama">Llamá al bartender</a>
        </div>
        <div class="invisible-box"></div>
    </div>
</header>
<header id="mobi-nav">
    <nav id="mobi-banner">
        <div id="bars-l">
            <div id="bars-cont">
                <i class="fas fa-bars bars" style="color: white;"></i>
                <div id="nav-menu">
                    <a style="text-decoration: none;" href="/menu" class="nav-link">CARTA</a>
                    <a style="text-decoration: none;" href="https://api.whatsapp.com/send?phone=1140303456" class="nav-link">CONTACTO</a>
                    <a style="text-decoration: none;" href="/bartender" class="nav-link">BARTENDER VIRTUAL</a>
                    <a style="text-decoration: none;" href="/users/registro" class="nav-link">REGISTRATE</a>
                    <a style="text-decoration: none;" href="/questions/historia" class="nav-link">NUESTRA HISTORIA</a>
                </div>
            </div>
            <p id="logo">RUSTY NAIL</p>
        </div>
        <div id="i-cont">
            <% if (loggedIn == false) {%> 
            <a href="/users/login"><i class="fas fa-user-alt user" style="margin: -50%;"></i></a>
            <a href="/cart" style="text-decoration: none;"><i class="fas fa-shopping-bag bag"></i></a>
            <%} else {%> 
            <a style="text-decoration: none;" href="/users/<%=userId%>"><i class="fas fa-user-alt user" style="margin: -50%;"></i></a>
            <a href="/cart" style="text-decoration: none;"><i class="fas fa-shopping-bag bag"></i></a>
            <% } %> 
        </div>
    </nav>
</header>

<div id="outis">

</div> 
    