a {
    text-decoration: none;
}
.header-box .grey-box .gb-menu-1 .regular-customer {
    padding: 0% 1% 1% 1%;
    text-align: center;
}
.header-box .grey-box .gb-menu-1 .cart-icons {
    width: 40%;
    text-align: right;
    padding: 0% 1% 1% 1%;
}
#desk-nav{
    display: none;
    width: 100%;
}
#desk-gif{
    display: none
}
#logo{
    font-size: 1.4em;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
}
#mobi-banner{
    width: 100%;
    position: fixed;
    top: 0;
    color: white;
    background-color: black;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}

#nav-menu{
    display: none;
}

.h-boxes-container .central-box .logo-img .logo-image {
    background-color: black;
    height: 34vh;
} 
    

#bars-cont:hover > #nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 8%;
    padding: 0;
    background-color: #000000;
    width: 100%;
    margin: 0;
    left: 0%;
    height: 92vh;
    -webkit-box-shadow: inset -1px -5px 71px 42px rgba(38,38,38,0.75);
    -moz-box-shadow: inset -1px -5px 71px 42px rgba(38,38,38,0.75);
    box-shadow: inset -1px -5px 71px 42px rgba(38,38,38,0.75);
    transition-delay: 180s;
}

.nav-link{
    
    text-decoration: none;
    margin: 0%;
    color: white;
    font-size: 1.8em;
}

#bars-cont{
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
#lista-cont{
    display: none;
}
.bars{
    font-size: 2em;
    border-radius: 7px;
    padding: 1%;
    background-color: black;
}

#bars-l{
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
}
#i-cont{
    font-size: 1.8em;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: white;
    margin-right: 8%;
}

#i-cont > i{
    color: white;
}
.user{
    margin: 5%;
}
.bag{
    margin: 0% 8% 0% 0%;
}
@media screen and (min-width: 646px) and (orientation: portrait){
    #desk-nav{
        display: none;
    }
    #mobi-gif{
        display: none;
    }
    .bars{
        font-size: 1em;
    }
    #logo{
        font-size: 1em;
    }
    #i-cont{
        font-size: 1.2em;
    }
}
@media screen and (max-width:700px) and (max-height: 426px){
    #desk-nav{
        display: none;
    }
    #desk-gif{
        display: block;
        width: 100%;
        height: 105vh;
    }    
    #mobi-gif{
        width: 100%;
        display: none!important
    }
    #bars-l{
        justify-content: space-between;
    }
    .bars {
        font-size: 1.5em;
    }   
    #i-cont{
        font-size: 1.2em;
    }
    .h-boxes-container .central-box .logo-img {
    background-color: black;
    height: 34vh;
}
}
@media screen and (min-width: 701) and (max-width:1023) and (orientation: landscape)
{
    #desk-nav{
        display: none;
    }
    #desk-gif {
        display: block;
        height: 100vh;
    }
    #mobi-gif {
        display: none;
    }    
}
@media screen and (min-width: 768px) and (max-width:1024px) and (orientation: landscape){
    #desk-nav{
        display: none;
    }
    #mobi-gif{
        display: none;
    }
    #desk-gif{
        width: 100%;
        height: 100vh;
        display: block;   
    }
}
@media screen and (min-width: 426px) and (max-width:769px) and (orientation: portrait)
{
    #desk-nav{
        display: none;
    }    
    #desk-gif{
        width: 100%;
        display: none
    }    
    #mobi-gif{
        width: 100%;
        height: 100vh;
        display: block;
    }
}
@media screen and (min-width:1024px) and (max-width:1439px) {    
    #desk-nav{
    display: block;
    }
    .h-boxes-container {
        display: flex;
        flex-direction: row;
        height: 34vh;
        justify-content: stretch;
    }
    
    .header-box {
        width: 40%;
        background-color: #42474F;
        height: 30vh
    }
    
    .central-box {
        width: 20%;
        background-color: grey;
        /* height: 260vh; */
    }
    .logo-img {
        height: -webkit-fill-available;
    }
    .h-boxes-container .central-box .logo-img .logo-image {
        background-color: black;
        height: 34vh;
    }
    
    
    
    .header-box .black-stripe {
        background-color: Black;
        color: #DDDDDD;
        text-align: center;
        padding: 1%;
        font-size: 14px;
        font-weight: bold;
    }
    
    /*.header-box .grey-box {
        /* background-color: #42474F; 
    }*/
    
    .header-box .grey-box .gb-menu-1 {
        display: flex;
        justify-content: space-between;
        height: 5vh;
        padding: 4%;
        margin: 0 10%;
        border-bottom: #DDDDDD 1.5px solid;
    }
    
    .header-box .grey-box .white-line {
        padding: 0 20%;
        color:white;
        height: 3px;
    }
    
    .header-box .grey-box .gb-menu-1 {
        font-size: 4vh;
    }
    
    .header-box .grey-box .gb-menu-1 .white-text-nav {
        color: whitesmoke;
        font-weight: bold;
        font-size: 12pt;
    }
    
    
    
    .header-box .grey-box .gb-menu-1 .right-icons {
        font-size: 5vh;
    }
    
    
    .header-box .grey-box .gb-menu-2 {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin: 3vh;
    }
    
    .header-box .grey-box .gb-menu-2 .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2vh;
    }
    
    
    .header-box .grey-box .nav-link {
        font-size: 1.1em;
        color: whitesmoke;
    }
    
    
    .header-box .grey-box .nav-icon {
        font-size: 8vh;
        color: black;
        margin-bottom: 1vh;
    
    }
    
    .second-container {
        display: flex;
        flex-direction: row;
    }
    
    .second-container .invisible-box {
        width: 40%;
    }
    
    .second-container .bartender-button {
        width: 20%; 
        background-color: #343F4B;
        color: #DDDDDD;
        font-size: 1.1em;
        text-align: center;
        padding: 4vh 0;
        font-weight: bold;
    }
    #desk-nav{
        position: fixed;
        z-index: 2;
        display: block;
    }    
    #outis{
        background-color: #42474F;
        height: 30vh;
    }
    #mobi-nav{
        display: none;
    }
}
@media screen and (min-width:1440px){
    #desk-nav{
        display: block;
    }
    .h-boxes-container {
        display: flex;
        flex-direction: row;
        height: 34vh;
        justify-content: stretch;
    }
    .logo-img {
        height: 30vh;
        width: 100%;
    }
    .header-box {
        width: 40%;
        background-color: #42474F;
    }
    
    .central-box {
        width: 20%;
        background-color: grey;
        /* height: 260vh; */
    }
    
    .h-boxes-container .central-box .logo-img {
        background-color: black;
        height: 34vh;
    }
    
    
    .header-box .black-stripe {
        background-color: Black;
        color: #DDDDDD;
        text-align: center;
        padding: 1%;
        font-size: 14px;
        font-weight: bold;
    }
    
    /*.header-box .grey-box {
        /* background-color: #42474F; 
    }*/
    
    .header-box .grey-box .gb-menu-1 {
        display: flex;
        justify-content: space-between;
        height: 5vh;
        padding: 4%;
        margin: 0 10%;
        border-bottom: #DDDDDD 1.5px solid;
    }
    
    .header-box .grey-box .white-line {
        padding: 0 20%;
        color:white;
        height: 3px;
    }
    
    .header-box .grey-box .gb-menu-1 {
        font-size: 4vh;
    }
    
    .header-box .grey-box .gb-menu-1 .white-text-nav {
        color: whitesmoke;
        font-weight: bold;
        font-size: 12pt;
    }
    
    
    
    .header-box .grey-box .gb-menu-1 .right-icons {
        font-size: 5vh;
    }
    
    
    .header-box .grey-box .gb-menu-2 {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin: 3vh;
    }
    
    .header-box .grey-box .gb-menu-2 .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2vh;
    }
    
    
    .header-box .grey-box .nav-link {
        font-size: 1.1em;
        color: whitesmoke;
    }
    
    
    .header-box .grey-box .nav-icon {
        font-size: 8vh;
        color: black;
        margin-bottom: 1vh;
    
    }
    
    .second-container {
        display: flex;
        flex-direction: row;
    }
    
    .second-container .invisible-box {
        width: 40%;
    }
    
    .second-container .bartender-button {
        width: 20%; 
        background-color: #343F4B;
        color: #DDDDDD;
        font-size: 1.1em;
        text-align: center;
        padding: 4vh 0;
        font-weight: bold;
    }
    #desk-nav{
        position: fixed;
        z-index: 2;
        display: block;
    } 
    #outis{
        background-color: #42474F;
        height: 30vh;
    } 
    #mobi-nav{
        display: none;
    }
    #desk-gif{
        display: block;
        height: 100vh;
    }
    #mobi-gif{
        display: none;
    }
    .logo-img {
        height: -webkit-fill-available;
        width: 100%;
    }
}
    
    
@media screen and (min-width: 2559px){
    .header-box .grey-box .nav-link {
        font-size: 2.1em;
        color: whitesmoke;
    }
    .logo-img {
        height: -webkit-fill-available;
        width: 100%;
    }
    .header-box .black-stripe {
        background-color: Black;
        color: #DDDDDD;
        text-align: center;
        padding: 1%;
        font-size: 2em;
        font-weight: bold;
    }
    #llama{
        font-size: 2.1em;
    }
    .header-box .grey-box .gb-menu-1 .white-text-nav {
        color: whitesmoke;
        font-weight: bold;
        font-size: 0.6em
    }
    .header-box .grey-box .gb-menu-1 .right-icons {
        font-size: 1.8em;
        font-size: 5vh;
    }    
    #desk-nav{
        position: fixed;
        z-index: 2;
        display: block;
    }
    #mobi-nav{
        display: none;
    }    
    #outis{
        background-color: #42474F;
        height: 30vh;
    }    
}