* {
    padding: 0%;
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ban-1{
    background-color: grey;
    height: 100px;
}
 .bar-1{
     background-color: lightblue;
     height: 25px;
     margin: 0 30%;
     margin-bottom: 5%;
 }

 .center{ 
     text-align: center;
 }
 .img-1{ 
     height: 80px;
     width: 80px;
 }

 .flex-sec{ 
   
   align-items: center;
   text-align: center;
   
 }
 