<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/bartender.css">
  <link rel="stylesheet" href="/stylesheets/footer.css" TYPE="text/css" MEDIA=screen>

  <link rel="stylesheet" href="/stylesheets/nav.css" TYPE="text/css" MEDIA=screen>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
</head>

<body>
  <%-include('./partials/nav')%>
  <main>

    <p id="pregunta"> ¿Como te gustaría tu trago?</p>
    <div id="grid">
      <div class="answ-cont">
        <img src="/images/Grapefruit-Cocktail-16.jpg" class="answ-img">
        <a style ="width: 80%;" href="/menu/cocktails/nn/dulce">
        <div class="answ-txt">
          <span class="txt">Dulce</span>
        </div>
        </a>
      </div>

      <div class="answ-cont">
        <img src="/images/CocoLady.JPG" class="answ-img">
        <a style ="width: 80%;" href="/menu/cocktails/nn/citrico">
        <div class="answ-txt">
          <span class="txt">Cítrico</span>
        </div>
        </a>
      </div>
      <div class="answ-cont">
        <img src="/images/Ay,Emi.jpg" class="answ-img">
        <a style ="width: 80%;" href="/menu/cocktails/nn/aperitivo">
        <div class="answ-txt">
          <span class="txt">Aperitivo</span>
        </div>
        </a>
      </div>
    </div>
  </main>
</body>


  <%- include('partials/footer')%>



</html>