<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK REL=StyleSheet HREF="/stylesheets/login.css" TYPE="text/css" media=screen>
        <link rel="stylesheet" href="/stylesheets/nav.css" TYPE="text/css" MEDIA=screen>
        <link rel="stylesheet" href="/stylesheets/footer.css" TYPE="text/css" MEDIA=screen>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        
    <title>Rusty Nail</title>
</head>
<body>
    <%-include('partials/nav') %>
    <h1 id="us-title">Nuestra historia</h1>
    <section id="sec-us">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, doloremque. Accusantium, at. Voluptatem necessitatibus nam exercitationem nostrum animi alias eum? Voluptatum sed, labore quae quod sint impedit. Consequuntur, ducimus vero?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius aliquid tenetur, cum perspiciatis quas odit eum dicta distinctio corporis dolore in animi nulla nesciunt est id veritatis debitis, minus necessitatibus?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea dolorem natus eos maxime quasi tempore distinctio assumenda in, at beatae, molestiae debitis autem quam aliquam, doloremque sint ipsum dolor molestias.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, doloremque. Accusantium, at. Voluptatem necessitatibus nam exercitationem nostrum animi alias eum? Voluptatum sed, labore quae quod sint impedit. Consequuntur, ducimus vero?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus impedit, sequi vitae suscipit reiciendis aspernatur aliquid voluptate neque ratione quam, voluptatem atque a officia nihil alias officiis. Quos, numquam explicabo!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, doloremque. Accusantium, at. Voluptatem necessitatibus nam exercitationem nostrum animi alias eum? Voluptatum sed, labore quae quod sint impedit. Consequuntur, ducimus vero?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus impedit, sequi vitae suscipit reiciendis aspernatur aliquid voluptate neque ratione quam, voluptatem atque a officia nihil alias officiis. Quos, numquam explicabo!
        </p>
    </section>
</body>

<footer> <%-include('partials/footer') %> </footer>
</html>