<!DOCTYPE html>
<html>

<head>
  <title>Ups!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/error.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
</head>
<body>
    <% if (error != "cart") {%> 
   
    <h1 class="error">¡Ups! Esta página es para <%=error%> </h1>
    <a href="/menu" class="volver"> Por acá volvés a la barra</a>
    
    <% } else if (error == "cart") {%>
    <h1 class="error">¡Ups! Para usar el carrito y poder comprar, tenés que registrarte </h1>
    <a href="/users/registro" class="volver"> Por acá podes hacerlo</a> 
    <% } %> 

</body>
