<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Registrate en Rusty Nail</title>
  <link rel="stylesheet" href="/stylesheets/register.css" type="text/css" media=screen>
  <link rel="stylesheet" href="/stylesheets/nav.css" type="text/css" media=screen>
  <link rel="stylesheet" href="/stylesheets/footer.css" type="text/css" media=screen>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>

<body>
    <header>
      <%- include("./partials/nav") %> 
    </header>
            <div id="register-title">Registro</div>
        <form class="form-registro" action="register.html" Method="POST">
            <div class=inputs>
                <input type="text" id="name" name="name" placeholder=" NOMBRE Y APELLIDO" class="input"></p>
                <input type="email" id="email" name="email" placeholder=" E-MAIL" class="input input-email"></p>
                <div class="paired-inputs"></div>
                    <div class="pass-and-confirm">
                        <input type="password" id="password" name="password" placeholder=" CONTRASEÑA" class="input"></p>
                        <input type="password" id="confirm-password" name="confirm-password" placeholder=" REINGRESAR CONTRASEÑA" class="input"></p>
                    </div>
                    
                </div>
            </div>
            <div class="checkboxes">
                <p><input type="checkbox" name="age-validator" value="over-18"> Declaro que soy mayor de 18 años.</p>
                <br>
                <p><input type="checkbox" name="accept-TOS" value="TOS-accepted"> He leído y acepto los Términos y Condiciones del servicio.</p>
                <br>
                <p><input type="checkbox" name="subscribe" value="subscribe" checked> Quiero recibir ofertas y promociones de Rusty Nail en mi e-mail.</p>
            </div>
            <div id=register-container><input type="submit" value="REGISTRAR" id="register-button"></div>    
        </form>
    <footer class="footer">
        <%-include("./partials/footer") %>
    </footer>
</body>
