<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Registrate en Rusty Nail</title>
  <link rel="stylesheet" href="/stylesheets/edit-user.css" type="text/css" media=screen>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>
    <p id="welcome">Bienvenido, persona!</p>
    <h3>Tu informacion</h3>
    <p>Juancito Ejemplo</p>
    <p>ejemplo@gmail.com</p>
    <p>contraseña</p>
    <p>direccion</p>
    <p>tarjeta</p>
    <p>telefono</p>
    <a href="/users/<%=resultado.id%>/edit"> Editar tu informacion </a>
</body>