 *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0%;
  background-color:  #969faa;
  width: 100%;
}
.container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin: 0px;
  background-color: #898989;
  margin: 8% 0%;
}
.novedades {
  margin: 1%;
  margin-top: 3%;
  color: #fcfcfc;
  width: 100%;
  flex: 1 1 200px;
}
.novedades button {
  background-color: #3e4854;
  color: #fcfcfc;
  border-radius: 1%;
  margin: 5%;
  /*padding: 7.5px 15px;*/
  display: block;
  /*height: 50px;*/
}
.barra-virtual {
  font-size: 3vh;
  margin: 4%;
  /* height: 53px;*/
}

.container {
  background-color: #898989;
  padding: 1 rem;
  display: flex;
  /*flex-direction: column;*/
  margin: 1px;
}
.pie-pagina {
  display: flex;
  flex-flow: row wrap;
  background-color: #3c4858;
  padding: 2rem;
  border-radius: 1px;
  color: #fcfcfc;
}

.logo-redes {
  display: flex;
  padding: 1rem;
  margin: 2px;
  background-color: #636363;
  justify-content: center;
}
.logo-redes .logo {
  flex: 1 1 200px;
  display: flex;
  justify-content: center;
  font-size: 3vh;
}

.logo-oficial img {
  width: 100px;
}

.contactos {
  color: black;
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: column;
  align-items: left;
  text-align: left;
  /* margin: 10px;*/
  padding: 2px;
  width: 100%;
  flex: 1 1 200px;
}
.logo{
  
  height: 10px;
}

.datosparticulares input {
  
  width: 90%;
  border-radius: 1%;
  color: #fcfcfc;
  display: block;
  border: 2px solid #3e4854;
  letter-spacing: 1%;
  margin: 5%;
}
.datosparticulares textarea {
  height: auto;
  width: 90%;
  border-radius: 1%;
  color: #fcfcfc;
  display: block;
  border: 1% solid #3e4854;
  letter-spacing: 1%;
  margin: 5%;
}
.datosparticulares button {
  /*height: 40px;*/
  width: 93%;
  border-radius: 1%;
  background-color: #898989;
  color: #fcfcfc;
  display: block;
  border: 1% solid #3e4854;
  letter-spacing: 1%;
  margin: 4%;
  /*padding: 1%;*/
  align-items: center;
}
.comentarios {
  color: #fcfcfc;
}

.hero-imagen {
  /* height: 150px;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  /* margin: 5px;*/
  color: white;
  font-size: 3vh;
}
.logo a {
  color: white;
}


@media screen and(min-width:1024px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .pedidos .titulos {
    text-align: center;
    font-size: 3vh;
  }
}

.hero-imagen .h1 {
  font-size: 3vh;
}


