
.caja-compra {
    display: flex;
    flex-direction: column;
    FLEX-FLOW: column;
    /* JUSTIFY-CONTENT: space-between; */
    WIDTH: 100%;
    /* margin: 1% 1% 1% 8%; */
    /* align-items: END; */
    margin-top: 19%;
    margin-bottom: 30%;
    height: 109vh;
}
#error{
    margin-bottom: 8%;
}
#registrarse-btn {
    width: 42%;
    height: 5vh;
    margin: 1%;
    padding: 1% 1% 2.5% 1%;
    background-color: #3e4854;
    color: white;
    font-size: 1.2em;
    vertical-align: middle;
}
.counter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#btn {
    -webkit-appearance: none !important;
    margin: 0!important;
    border: none!important;
    outline: none!important;
    width: 97.3%;
    padding: 3% 3% 4% 3%;
    text-align: center;
    border: solid 0px;
    margin: 5%;
    margin: 3%;
    background-color: #47525E;
    color: #FDFDFD;
    font-size: 1.5em;
    font-weight: bold;
    height: 10.5vh;
    display: flex;
    justify-content: space-around;
}
#quantity::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;

}
#quantity{
    border: 0;
    text-align: center;
    font-size: 4vh;
    width: 20%;
    
}
#quantity:focus{
    outline: none!important;
    border: none;
}
.counter-n{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 33%;
    font-size: 1.5em;
    border-left: solid thin black;
    border-right: solid thin black;
    padding: 1% 4% 1% 4%;
    flex-grow: 0.5;
}
.foto {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    width: 85%;
    height: 66vh;
}
#img {
    height: 51vh;
    width: 101.2%;
    margin-top: 0%;
}
.tag {
    display: flex;
    flex-direction: column;
    width: 100.5%;
    border: black solid thin;
    background-color: white;
    margin-bottom: 10%;
}
.nombre-trago {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    height: 90vh;
    width: 65%;
    margin-top: 10%;
}
.trago {
    width: 82%;
    font-size: 2em;
    border-width: thin;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 1% 0% 5% 0%;
    align-content: flex-start;
    text-align: center;
    justify-content: center;
    align-self: center;
}


.descripcion {
    font-size: 3vh;
    margin-top: 11%;
}
form {
    width: 104%;
}

@media screen and (min-width: 1024px){
.nombre-trago {
    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: space-between;
    height: 60vh;
    width: 40%;
}
#img {
    height: 51vh;
    width: 100.7%;
    margin-top: 3%;
    
}
#btn{
    -webkit-appearance: none !important;
    margin: 0 !important;
    border: none!important;
    outline: none!important;
    width: 100%;
    padding: 3% 3% 4% 3%;
    text-align: center;
    border: solid 0px;
  
    margin: 5%;
    margin: 3%;
    background-color: #47525E;
    color: #FDFDFD;
    font-size: 1.5em;
    font-weight: bold;
    height: 8vh;
}
#btn:focus{
    outline: none!important;
    border: none;
}
.caja-compra{
    DISPLAY: FLEX;
    FLEX-DIRECTION: ROW;
    FLEX-FLOW: WRAP;
    JUSTIFY-CONTENT: space-between;
    WIDTH: 80%;
    margin: 1% 1% 1% 8%;
    align-items: END;
    /* MARGIN: 0; */
  
}
.trago{
    width: 82%;
    font-size: 2em;
    border-width: thin;
    border-style: solid;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 1% 0% 5% 0%;
    align-content: flex-start;
    text-align: center;
    justify-content: center;
    align-self: center;
}
.counter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.descripcion{
    font-size: 3vh;
}
h3 {
    font-size: 6.5vh;
}
#error{
    margin-bottom: 8%;
    text-align: center;
    font-size: 2em;
}
#quantity::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;

}
#quantity{
    border: 0;
    text-align: center;
    font-size: 4vh;
    width: 20%;
    
}
#quantity:focus{
    outline: none!important;
    border: none;
}
.foto{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    width: 38.7%;
    height: 66vh;
}
.counter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.counter-n{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 33%;
    font-size: 1.5em;
    border-left: solid thin black;
    border-right: solid thin black;
    padding: 1% 4% 1% 4%;
    flex-grow: 0.5;
}

.tag{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: black solid thin;
    background-color: white;
}
.cart{
    align-content: center;
    text-align: center;
    width: 12%;
}}