
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Serif;
}

.gb-menu-1, .gb-menu-2 {
    box-sizing: content-box;
}

body {
    background-color: #969faa;
}

#ol {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    place-content: center; 
    list-style-type: none;
}
  
#errorList{
    flex-direction: column;
    place-items: center;
    list-style: none;
}

#register-title {
    padding: 3%0;
    text-align: center;
    font-size: 38px;
    font-size: 58px;
    font-weight: bold;
    color: #3F3F3F;
    background-color: #969FAA;
    height: 10vh;
    margin-bottom: 5%;
    margin-top: 5%;
}
.form-registro {
    padding: 10px 8% 5px 8%;
    text-align: right;
    background-color: #969FAA;
}

.form-registro .inputs {
    
    margin-bottom: 4%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-content: center;
    box-sizing: border-box;
}

.form-registro .inputs .input {
    width: 100%;
    padding: 1%;
    margin: 10px auto;
    border: 1.5px solid #5A6978;
    background-color: #969FAA;
    font-size: 1em;
    color: #3F3F3F;
}

.form-registro .inputs .input:focus{
    background-color: #acb5be;
}

::placeholder {
    color: #3F3F3F;
}


.form-registro .inputs .input[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.3s 0.3s ease; 
    opacity: 0;
  }

.form-registro .checkboxes {
    font-size: 0.88em;
    color: #343F4B;
    text-align: left;
    padding: 20px 0 ;
}

.form-registro input[type="checkbox"] {
    vertical-align: text-top;
}

.form-registro input[type="checkbox"]:checked {
    background-color: red;
}

.form-registro #register-container {
    text-align: center;
}
.form-registro #register-button {
    border-radius: 0px;
    border: solid 0px;
    padding: 3% 8%;
    margin: 5%;
    margin: 3%;
    background-color: #47525E;
    color: #FDFDFD;
    font-size: 15px;
    font-weight: bold;
}

.form-registro #register-button:hover {
    background-color: #485564;
}

.footer {
    background-color: grey;
}

@media (min-width: 769px){
     

    .form-registro .paired-inputs {
        display:flex;
        flex-direction: column;
        align-content: space-around;
    }
    .form-registro .inputs .pass-and-confirm {
        display:flex;
        flex-wrap: wrap;
        align-items: space-between;
    }
    .form-registro .inputs .name-and-surname {
        display:flex;
        flex-wrap: wrap;
    }
    .form-registro .checkboxes {
        font-size: 0.88em;
        color: #343F4B;
        text-align: left;
        padding: 20px 0 ;
        margin: 0 5%;
    }
    
    .form-registro .inputs .input {
        width: 51%;
        display:flex;
    }
    
    .form-registro .inputs .input-email {
        margin: 10px 24.5%;
        align-content: left;
        
    }
    .form-registro #register-button {
        padding: 2% 3% 4% 3%;
    text-align: center;
    border: solid 0px;
    /* padding: 3% 8%; */
    margin: 5%;
    margin: 3%;
    background-color: #47525E;
    color: #FDFDFD;
    font-size: 1.5em;
    font-weight: bold;
    height: 8vh;
    width: 28%;
    }
    
}
