<!DOCTYPE html>
<html lang="es ">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="../public/stylesheets/footer.css">
  <title>Rusty Nail</title>
</head>

<div class="logo-redes">

  <div class="logo">
    <a href=" https://web.whatsapp.com/rustynailcocktails" target="_blank" id="track_whatsapp"><i
        class="fab fa-whatsapp-square"></i></a>
  </div>

  <div class="logo">
    <a href="https://es-la.fa-facebook.com/rustynailcocktails" target="_blank" id="track_facebook"><i
        class="fab fa-facebook"></i></a>
  </div>
  <div class="logo">
    <a href="https://instagram.com/rustynailcocktails" target="_blank" id="track_instagram">
      <i class="fab fa-instagram"></i></a>
  </div>
  <div class="logo">
    <a href=https://twitter.com/?lang=es" target="_blank" id="track_twitter">
      <i class="fab fa-twitter"></i></a>
  </div>

</div>