
<footer>
<div id="adv-cont">
  <p id="advertencia">ADVERTENCIA</p>
  <p style="text-align: center;">Rusty Nail no apoya el consumo de alcohol excesivo ni por parte de menores</p>
</div>
<div class="logo-redes">

  <div class="logo">
    <a href=" https://web.whatsapp.com/rustynailcocktails" target="_blank" id="track_whatsapp"><i
        class="fab fa-whatsapp-square"></i></a>
  </div>

  <div class="logo">
    <a href="https://es-la.fa-facebook.com/rustynailcocktails" target="_blank" id="track_facebook"><i
        class="fab fa-facebook"></i></a>
  </div>
  <div class="logo">
    <a href="https://instagram.com/rustynailcocktails" target="_blank" id="track_instagram">
      <i class="fab fa-instagram"></i></a>
  </div>
  <div class="logo">
    <a href=https://twitter.com/?lang=es" target="_blank" id="track_twitter">
      <i class="fab fa-twitter"></i></a>
  </div>

</div>
</footer>