* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.navigation {
    height:100px;
    background-color:grey;
}

.form-registro {
    padding: 40px 10%;
    text-align: right;
    background-color: lightgrey;
    font-size: 24px;
}

.form-registro .inputs {
    line-height: 55px;
    padding: auto 10%;
}

.form-registro input {
    font-size: 25px;
    padding: 1%;
    border-radius: 7px;
}

.form-registro .checkboxes {
    font-size: 0.8em;
    padding: 40px 5%;
    text-align:left
}

.form-registro input[type="checkbox"] {
    transform: scale(2);
}

.form-registro input[type="submit"] {
    text-align: center;
}

.footer {
    background-color: grey;
}