<!DOCTYPE html>
<html lang="es ">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="../public/stylesheets/carrito.css">
  <title>Rusty Nail</title>
</head>

<body>
  <div class="container">


    <div class="bolsa">
      <div class="bolsa-pedido">
        <h1 class="">BOLSA DE PEDIDOS</h1>
      </div>
      <div class="bolsa-pedido">
        <h2 class="">Mi Carrito</h2>
      </div>
      <div class="bolsa-pedido">
        <a href="home" class="btm-glost2pull-right">CONTINUAR COMPRANDO<i class="fa fa-cart-plus fa-fw"
            style="margin-left:5px;"></i>
        </a>

      </div>

    </div>

    <div class="caja-compra">
      <div class="foto">
        <img src="imagen/mentabronce.png">
      </div>


      <div class="nombre-trago">
        <a href="productos/clasicos">
          <h3 class="titulo-trago">NOMBRE DEL TRAGO</h3>
        </a>
        <div class="descripcion">DESCRIPCION: INGREDIENTES etc etc etc<br>
          "Beber con moderación. Prohibida su venta
          a menores de 18
          años."
        </div>
      </div>


      <div class="precio1">
        <span class="precios-producto">"$1000"
          <sup>
            <sup>c</sup>
            /
            <sub>u</sub>
          </sup>
        </span>
      </div>


      <div class="contador-unidades">
        <p class="contador">Cant. 1</p>
      </div>


      <div class="sub-total">
        <span class="listade-precio">$1000</span>

      </div>


      <div class="basurero">
        <a href="carrito/quitar/203" class="cart-delete text-muted" data-toggle="tooltip" title
          data-original-title="Quitar del carrito"><i class="fa fa-trash fa-fw fa-2x"></i></a>
      </div>
    </div>
  </div>
  <div class="precio-total">
    <div class="total">TOTAL $1000 <br> <br><br> </div>

    <div></div>
    <div></div>
  </div>
  <div class="volver-continuar">
    <a href="home" class="volver">VOLVER A PRODUCTOS<i class="fa fa-th-large fa-fw" style="margin-left: 5px;"></i></a>
    <a href="checkout" class="confirmar">CONFIRMAR Y CONTINUAR<i class="fa fa-angle-right fa-fw"
        style="margin-left: 5px;" ::before></i></a>
    <div class="clearfix">

    </div>
  </div>


</body>