<!DOCTYPE html>
<head>
    <title>Rusty Nail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/stylesheets/index.css">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>
    
    <main>   
        <div id="outis">

        </div>
        <div id="desk-cont">
            <img src="mobi-gif.gif" id="mobi-gif">
            <h3 id="alta">ALTA COCTELERÍA EN TU CASA</h3>
            <a id="cta" href="/menu">Nuestros tragos para vos</a>
            <img src="desk-gif.gif" id="desk-gif">
        </div> 
        <div id="copa-cont">
            <img src="copa-main.jpg">
            <h3 id="medida">TRAGOS A MEDIDA</h3>
            <p id="sabes">¿Ya sabés que tomar hoy?</p><br>
            <p id="facil">Es fácil</p>
            <a href="/bartender" id="cta2">Consultale al bartender</a>
        </div>
        <div id="feed">
            <p id="feed-txt">OPINIONES Y RESEÑAS</p>
            <div id="feed-cont">
                <img src="placeholder-image-wide.png" id="img-feed">
                <img src="placeholder-image-wide.png" class="img-feed">
                <img src="placeholder-image-wide.png" class="img-feed">
            </div>
        </div>
    </main>
</body>