<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/product.css" type="text/css" media=screen>
        <link rel="stylesheet" href="/stylesheets/nav.css" type="text/css" media=screen>            
        <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" /> 
        <title>Rusty Nail</title>
    </head>
        <header>                                                                                            
            <div>
                
                <%- include('partials/nav')%>   
            
            </div>
        </header>

<h1>Productos</h1>

<body>


    <form action="/product/listado">
        <div>
            <input type="text" name="products">
            <button type="submit">Buscar</button>
        </div>

    </form>   

    <ul>
        <% listado.forEach(function (listado) { %> 
               
         <li>
             
            <a href="/product/<%=listado.id%>"> <%= listado.Name%> </a>
        
         </li>

        <% }); %> 
    </ul>
   
    
</body>
</html>
<div">

  <%- include('partials/footer')%>

  </div>