<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <LINK REL=StyleSheet HREF="/stylesheets/login.css" TYPE= "text/css" media=screen>
                <link rel="stylesheet" href="/stylesheets/footer.css" TYPE="text/css" MEDIA=screen>

                <link rel="stylesheet" href="/stylesheets/nav.css" TYPE="text/css" MEDIA=screen>            <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
   
            <title>Rusty Nail</title>
        </head>
            <header>
                <div>
                   <%-include('./partials/nav')%>
                </div>

                <div class="bar-1"> <a href="#">Llamá al bartender virtual</a></div>

            </header>
        <section class=tabla1>
            <h1 class="center">Ingreso de usuarios</h1>
                <img src="../images/icon-login.jpg" alt="img-login" class=" img-1">       
            
                <section class="form-sec">
                        <form class="form-1">                        
                                <input type="text" required> 
                                <label class="lbl-email">
                                    <span class="text-email">Email</span>                        
                                </label>
                        </form>

                        <form class="form-2">
                                <input type="password" required>
                                 <label class="lbl-pass">
                                     <span class="text-pass">Contraseña</span>
                                 </label>                                        
                        </form> 
                        <div class="font-1"> <input type="checkbox" name="" id="remember">Recordar mi usuario</div>                    
                        <button type="submit" class="submit">Ingresar</button>
                </section>
  
                <section class="sec-boxes">
                        <form>
                        <button type="button" class="font-2">¿Olvidaste tu contraseña?</button>   
                        <button type="button" class="font-2">Registrate</button>                   
                        </form>
                    </section>
            </section>

            
            
    </html>