<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/stylesheets/product.css" type="text/css" media=screen>
            <link rel="stylesheet" href="/stylesheets/nav.css" type="text/css" media=screen>            
            <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" /> 
            <title>Rusty Nail</title>
        </head>
            <header>                                                                                            
                <div">
                    
                    <%- include('partials/nav')%>   
                
                </div>
        
                

            </header>

        <section class="product-sec">

            <article class="articles">Productos</article>        
            <article class="articles">Destilados</article> 
            <article class="articles">Titulo Articulo</article> 

            <div> DALMORE 15 AÑOS - SINGLE MALT</div>
            
        </section>
        
        <div> DALMORE 15 AÑOS - SINGLE MALT</div>
        
    </section>
    
    <article class="art-image-2"><img src="../images/WHISKYDALMORE.png" class="art-image"> <article class="art-details"> Detalle de producto</article>  </article>
    <p style="margin-left: 15px;"> Dalmore es un Whisky escocés de la región de Las tierras altas de Escocia. La destilería se encuentra cerca de la población de Alness, Ross-shire y es conocida por la producción de un whisky de estilo refinado y un toque a jerez. La Dalmore fue fundada originariamente por Alexander Mathesen en 1839.</p>
    <section class="contenedor-details">
        
        <article class="precio-details"> Precio $22500 </article>
        <article class="precio-details-2"> Delivery a todo CABA</article>
        <p id="detail">Beber con moderación. Prohibida su venta a menores de 18 años.   </p>
        
        <section id="icons-social">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-facebook-official" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>  
        </section>
<<<<<<< HEAD



        <section class="agregar-c">

            <a href=""> Agregar a la bolsa de pedidos</a>

        </section>


        <section class="product-rel">   

           <div id="prodrel"> Productos Relacionados </div>

           <img src="../images/icon-flecha.png" alt="icon.arrow" id="arrow" >

        </section>

        <section class="imag-relacion">
            <article id="text"> <img src="../images/GINNORDES.PNG" style="height: 100vh; width: 70%; margin-top: 10px"></article>
            <div id="text-2"> GINNORDES $6490
                <section class="agregar-c-rel">
                    <a href="/carrito"> Agregar a la bolsa de pedidos</a>
                 </section>   
            </div>
            <article id="text"> <img src="../images/TheGlendores.png" style="height: 100vh; width: 70%; margin-top: 10px"> </article>
            <div id="text-2"> THE GLENDORES VINTAGE $7990
                <section class="agregar-c-rel">
                    <a href="/carrito"> Agregar a la bolsa de pedidos</a>
                 </section>       
            </div>
            <article id="text"> <img src="../images/WHISKYDALMORE.png" style="height: 100vh; width: 70%; margin-top: 10px"></article>
            <div id="text-2"> DALMORE WHISKY $22500
                <section class="agregar-c-rel">
                   <a href="/carrito"> Agregar a la bolsa de pedidos</a>
                 </section>                                                
            </div>

        </section>    




        <section class="novedades">

            Enterate de todas las Novedades <br>
                       
           <label placeholder="Email"></label>
           <input type="email" placeholder="Email" class="email"> 
           <button type="submit" class="submit">Suscribirme </button> 
                   
          
        </section>

 </html>
=======
        
    </section>
    
    
    
    <section class="agregar-c">
        
        Agregar a la bolsa de pedidos
        
    </section>
    
    
    <section class="product-rel">   
        
        <div id="prodrel"> Productos Relacionados </div>
        
        <img src="../images/icon-flecha.png" alt="icon.arrow" id="arrow" >
        
    </section>
    
    <section class="imag-relacion">
        <article id="text"> <img src="../images/GINNORDES.PNG" style="height: 100vh; width: 70%; margin-top: 10px"></article>
        <div id="text-2"> GINNORDES $6490
            <section class="agregar-c-rel">
                Agregar a la bolsa de pedidos
            </section>   
        </div>
        <article id="text"> <img src="../images/TheGlendores.png" style="height: 100vh; width: 70%; margin-top: 10px"> </article>
        <div id="text-2"> THE GLENDORES VINTAGE $7990
            <section class="agregar-c-rel">
                Agregar a la bolsa de pedidos
            </section>       
        </div>
        <article id="text"> <img src="../images/WHISKYDALMORE.png" style="height: 100vh; width: 70%; margin-top: 10px"></article>
        <div id="text-2"> DALMORE WHISKY $22500
            <section class="agregar-c-rel">
                <a href="#"> Agregar a la bolsa de pedidos</a>
            </section>                                                
        </div>
        
    </section>    
    
    
    
    
    <section class="novedades">
        
        Enterate de todas las Novedades <br>
        
        <label placeholder="Email"></label>
        <input type="email" placeholder="Email" class="email"> 
        <button type="submit" class="submit">Suscribirme </button> 
    </section>
   
    <%- include("./partials/footer") %> 
    
</body>
</html>
>>>>>>> f4037c5201fe3c0ac3152981f970d5037405f623
