<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/gracias.css" type="text/css" media=screen>

    <title>¡Que lo disfrutes!</title>
</head>
<body>
    <h1 class="error"> ¡Muchas gracias por participar de nuestra barra virtual! </h1>
    <a href="../" class="volver" style="text-decoration: none;">Visitanos en el futuro para nuevas promociones y adiciones a nuestra carta</a>
</body>
</html>