<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <LINK REL=StyleSheet HREF="/stylesheets/login.css" TYPE="text/css" media=screen>
    <link rel="stylesheet" href="/stylesheets/nav.css" TYPE="text/css" MEDIA=screen>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    
    <title>Rusty Nail</title>
    <script>
       window.addEventListener("load", function(){
    let emailField = document.getElementById("email")
    let passwordField = document.getElementById("password")
    let form = document.getElementById("form")
    form.addEventListener("submit", function(e){
      let errors = []
      let emailFieldValue = emailField.value
      
      let isEmail = emailFieldValue.includes("@")
      
      if (isEmail = false){
        errors.push("Debes introducir un email valido")
      }
      
      if (emailField.value == ""){
        errors.push("El email no puede estar vacío")
      }
      
      if (passwordField.value.length < 8) {
        errors.push("La contraseña debe tener más de 8 caracteres")
      }
      
      if (passwordField.value.length > 25){
        errors.push("La contraseña no puede tener más de 25 caracteres")
      }
      if (errors.length > 0) {
        e.preventDefault()
        for (let i = 0; i < errors.length; i++){
          errorList.innerHTML += "<li>" + errors[i] + "<li>"
        }
        errorList.style.display = "flex"
      }
    })

  })
    </script>
  </head>
  <%- include("../partials/nav") %> 

  <section class=tabla1>
    <h1 class="welcome">Ingresa a tu cuenta</h1>
   
  </section>
  <% if (typeof errors != "undefined") {%>
    <ul>
      <% for (var i =  0; i < errors.length; i++) {%>
        <li> <%=errors[i].msg%> </li>
      <% } %> 
    </ul>
  <% } %>
        

  <ul id="errorList" style="display: none;">
          
  </ul>
  <form class="form-registro" action="/users/login-process" Method="POST" id="form">
    <div class=inputs>
      <input type="text" id="email" name="email" placeholder=" E-MAIL" class="input input-email"></p>
      <div class="pass-and-confirm">
        <input type="password" id="password" name="password" placeholder=" CONTRASEÑA" class="input"></p>
      </div>
     </div>
     <div style= "width:60%; position: relative; left: 25%">
      <label for="recordame">Recordame</label>
      <input type="checkbox" name="recordame">
    </div>
    
    <div id=register-container>
      <input type="submit" value="Ingresar" class="register-button" id="ingresar">
      <a href="/users/registro" value="Registrate" class="register-button" id="registrate-btn">Registrate</a> 
    </div>    
  </form>



</html>