<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Registrate en Rusty Nail</title>
  <link rel="stylesheet" href="/stylesheet/register.css">
  <link rel="stylesheet" href="banner-web.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>

<body>
  <header>
    <div class="h-boxes-container">
      <div class="header-box">
        <div class="black-stripe">¿Todavía no sos regular?</div>
        <nav class="grey-box">
          <div class="gb-menu-1">
            <div>
              <i class="fab fa-whatsapp-square social-icon"></i>
              <span class="white-text-nav">11-4030-3456</span>
            </div>
            <div class="social-networks">
              <i class="fab fa-twitter social-icon hover-lit"></i>
              <i class="fab fa-facebook social-icon hover-lit"></i>
              <i class="fab fa-instagram social-icon hover-lit"></i>
            </div>
          </div>
          <div class="gb-menu-2">
            <div class="nav-link">
              <i class="fas fa-glass-martini-alt nav-icon"></i>
              <span class="white-text-nav">Nuestra carta</span>
            </div>
            <div class="nav-link">
              <i class="fas fa-glass-cheers nav-icon"></i>
              <span>Nuestra historia</span>
            </div>
          </div>
        </nav>
      </div>
      <div class="central-box">
        <div class="logo-img">
          <img src="dark-martini-glass-logo.jpeg" alt="Rusty Nail Logo" class="logo-image">
        </div>
      </div>
      <div class="header-box">
        <div class="black-stripe">Sumate y conseguí todos estos beneficios</div>
        <nav class="grey-box">
          <div class="gb-menu-1">
            <div class="regular-customer">
              <i class="fas fa-user right-icons user-icon"></i>
              <span class="white-text-nav">Soy regular</span>
            </div>
            <div class="cart-icons">
              <i class="fas fa-wine-bottle right-icons"></i>
              <i class="far fa-comment right-icons"></i>
            </div>
          </div>
          <div class="gb-menu-2">
            <div class="nav-link">
              <i class="fas fa-wine-glass-alt nav-icon"></i>
              <span>¿Cómo comprar?</span>
            </div>
            <div class="nav-link">
              <i class="fas fa-glass-whiskey nav-icon"></i>
              <span>Contactate</span>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="second-container">
      <div class="invisible-box"></div>
      <div class="bartender-button">
        Llamá al bartender
      </div>
      <div class="invisible-box"></div>
    </div>
  </header>
  <div id="register-title">Registro</div>
  <form class="form-registro" action="register.html" Method="POST">
    <div class=inputs>
      <input type="email" id="email" name="email" placeholder=" E-MAIL" class="input input-email"></p>
      <div class="paired-inputs">
        <div class="pass-and-confirm">
          <input type="password" id="password" name="password" placeholder=" CONTRASEÑA" class="input"></p>
          <input type="password" id="confirm-password" name="confirm-password" placeholder=" REINGRESAR CONTRASEÑA"
            class="input"></p>
        </div>
        <div class="name-and-surname">
          <input type="text" id="name" name="name" placeholder=" NOMBRE" class="input"></p>
          <input type="text" id="surname" name="surname" placeholder=" APELLIDOS" class="input"></p>
        </div>
      </div>
    </div>
    <div class="checkboxes">
      <p><input type="checkbox" name="age-validator" value="over-18"> Declaro que soy mayor de 18 años.</p>
      <br>
      <p><input type="checkbox" name="accept-TOS" value="TOS-accepted"> He leído y acepto los Términos y Condiciones del
        servicio.</p>
      <br>
      <p><input type="checkbox" name="subscribe" value="subscribe" checked> Quiero recibir ofertas y promociones de
        Rusty Nail en mi e-mail.</p>
    </div>
    <div id=register-container><input type="submit" value="REGISTRAR" id="register-button"></div>
  </form>
  <footer class="footer">
    footer
  </footer>
</body>