body{
    margin: 0;
    background-color: #969FAA;
}

#outis{
    display: none;
}

#desk-nav{
    display: none;
    width: 100%;
}
#logo{
    font-size: 1.4em;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
}
#mobi-banner{
    width: 100%;
    position: fixed;
    top: 0;
    color: white;
    background-color: black;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}

#nav-menu{
    display: none;
}

#bars-cont:hover > #nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 8%;
    padding: 0;
    background-color: #000000;
    width: 100%;
    margin: 0;
    left: 0%;
    height: 92vh;
    -webkit-box-shadow: inset -1px -5px 71px 42px rgba(38,38,38,0.75);
    -moz-box-shadow: inset -1px -5px 71px 42px rgba(38,38,38,0.75);
    box-shadow: inset -1px -5px 71px 42px rgba(38,38,38,0.75);
    transition-delay: 180s;
}

.nav-link{
    
    text-decoration: none;
    margin: 0%;
    color: white;
    font-size: 1.8em;
}

#bars-cont{
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
#lista-cont{
    display: none;
}
.bars{
    font-size: 2em;
    border-radius: 7px;
    padding: 1%;
    background-color: black;
}

#bars-l{
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
}
#i-cont{
    font-size: 1.8em;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

#i-cont > i{
    color: white;
}
.user{
    margin: 5%;
}
.bag{
    margin: 0% 8% 0% 0%;
}
.answ-img{
    width: 80%;
    height: 25vh;
    margin-top: 10%;
}
#grid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    width: 100%;
}
.answ-cont{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    width: 80%;
}
.answ-txt{
    background-color: rgb(20, 20, 20);
    color: white;
    height: 10vh;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}
.answ-txt:active{
    color: rgb(20, 20, 20);
    background-color: white;
}
.txt{
    width: inherit;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}
#pregunta{
    font-size: 2em;
    margin-top: 30%;
    text-align: center;
    color: white;
}
#q-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10%;
}
#q-list{
    color: white;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 8vh;
}
.list-n {
    margin: 7%;
    font-size: 1.7em;
    border-style: solid;
    padding: 0% 5%;
    border-radius: 100%;
}

@media screen and (min-width:767px){
    #pregunta{
        margin-top: 20%;
        font-size: 3em;
    }
    .answ-img{
        height: 45vh;
    }
    .answ-txt{
        height: 15vh;
    }
    .txt{
        font-size: 1.8em;
    }
    .list-n {
        margin: 7%;
        font-size: 1.7em;
        border-style: solid;
        padding: 3% 5%;
        border-radius: 100%;
    }
}
@media screen and (min-width:1024px){
    #desk-nav{
        display: block;
        position: fixed;
        top: 0;
    }
    #outis{
        display: block;
        background-color: #42474F;
        height: 40vh;
    }
    #mobi-nav{
        display: none;
    }
    #pregunta{
        margin-top: 13%;
    margin-bottom: 10%;
    font-size: 3em;
    }
    #grid{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-items: center;
        flex-grow: 1 0 21%;
    }
    .answ-cont{
        width: 33%;
    }
    .answ-txt{
        width: 80%;
    }
    .list-n {
        margin: 7%;
        font-size: 1.7em;
        border-style: solid;
        padding: 3% 5%;
        border-radius: 100%;
    }
}