* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Serif;
}

#desk-nav{
    display: none;
}
#logo{
    font-size: 1.4em;
    align-self: center;
    margin-top: 0;
    margin-bottom: 0;
}
#mobi-banner{
    width: 100%;
    position: fixed;
    top: 0;
    color: white;
    background-color: black;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
}

#nav-menu{
    display: none;
}

#bars-cont:hover > #nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    position: fixed;
    top: 8%;
    padding: 0;
    background-color: #000000;
    width: 100%;
    margin: 0;
    left: 0%;
    height: 92vh;
    -webkit-box-shadow: inset -1px -5px 71px 42px rgba(38,38,38,0.75);
    -moz-box-shadow: inset -1px -5px 71px 42px rgba(38,38,38,0.75);
    box-shadow: inset -1px -5px 71px 42px rgba(38,38,38,0.75);
    transition-delay: 180s;
}

.nav-link{
    
    text-decoration: none;
    margin: 0%;
    color: white;
    font-size: 1.8em;
}

#bars-cont{
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
}
#lista-cont{
    display: none;
}
.bars{
    font-size: 2em;
    border-radius: 7px;
    padding: 1%;
    background-color: black;
}

#bars-l{
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
}
#i-cont{
    font-size: 1.8em;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.user{
    margin: 5%;
}
.bag{
    margin: 0% 8% 0% 0%;
}
#desk-cont{
    height: 100vh;
    position: relative;
}
body {
    background-color: #969FAA;
}

.navigation {
    display:flex;
    padding: 2%;
    justify-content: space-between;
    text-align: center;
    background-color: #343F4B;
    color: white;
    font-size: 30px;
}

.navigation #nav-title {
    font-size: 20px;
    margin: auto 8%;
}

.navigation .hamburger {
    font-size: 20px;
}

.navigation .right-icons {
    font-size: 30px;
}

#register-title {
    padding: 50px 0;
    text-align: center; 
    font-size: 58px;
    font-weight: bold;
    color: #3F3F3F;
}
.form-registro {
    padding: 0px 8% 5px 8%;
    text-align: right;
    background-color: #969FAA;
}

.form-registro .inputs {
    padding: auto 5%;
    margin-bottom: 25px;
}

.form-registro .inputs .input {
    width: 100%;
    padding: 1%;
    margin: 10px auto;
    border: 1.5px solid #5A6978;
    background-color: #969FAA;
    font-size: 1em;
    color: #3F3F3F;
}

.form-registro .inputs .input:focus{
    background-color: #acb5be;
}

::placeholder {
    color: #3F3F3F;
}


.form-registro .inputs .input[placeholder]:focus::-webkit-input-placeholder {
    transition: opacity 0.3s 0.3s ease; 
    opacity: 0;
  }

.form-registro .checkboxes {
    font-size: 0.88em;
    color: #343F4B;
    text-align: left;
}

.form-registro input[type="checkbox"] {
    vertical-align: text-top;
}

.form-registro #register-container {
    text-align: center;
}

.form-registro #register-button {
    border-radius: 0px;
    border: solid 0px;
    padding: 3% 8%;
    margin: 3%;
    background-color: #47525E;
    color: #FDFDFD;
    font-size: 15px;
    font-weight: bold;
}

.form-registro #register-button:hover {
    background-color: #485564;
}

.footer {
    background-color: grey;
}

@media (min-width: 769px){

    .form-registro .paired-inputs {
        display:flex;
        flex-direction: column;
        align-content: space-around;
    }

    .form-registro .inputs .pass-and-confirm {
        display:flex;
        flex-wrap: wrap;
        align-items: space-between;
    }

    .form-registro .inputs .name-and-surname {
        display:flex;
        flex-wrap: wrap;
    }


    .form-registro .checkboxes {
        font-size: 0.88em;
        color: #343F4B;
        text-align: left;
        padding: 20px 0 ;
        margin: 0 5%;
    }
    

    .form-registro .inputs .input {
        width: 40%;
        display:flex;
    }
    
    .form-registro .inputs .input-email {
        margin: 10px 5%;
        align-content: left;
    }

   
}

@media (min-width: 1024px){
    #desk-nav{
        display: block;
    }
    #mobi-nav{
        display: none;
    }
}